<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Edit Todo</title>
</head>
<body>
<h1>Edit Todo Item</h1>
<form th:action="@{/todos/{id}/edit(id=${todo.id})}" th:method="post">
	<label for="title">Title:</label>
	<input type="text" id="title" name="title" th:value="${todo.title}" required>
	<br>
	<label for="completed">Completed:</label>
	<input type="checkbox" id="completed" name="completed" th:checked="${todo.completed}">
	<br>
	<button type="submit">Save</button>
</form>
</body>
</html>
